accelerate
aiofiles
annotated-types
colorama
git+https://github.com/huggingface/diffusers.git
gradio
gradio_client
huggingface-hub
numpy
peft
protobuf
safetensors
sentencepiece
tokenizers
torch==2.4.0
transformers
